<!DOCTYPE html>
<html lang="en">
<head>
    <title>events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--[if lt IE 8]>
    <script>alert("您的浏览器版本太低了，本站对IE8以下版本浏览器无法提供支持，为保证更好的浏览体验，请升级您的IE或下载其它浏览器。推荐Chrome, Firefox, 360浏览器等!");window.close();
    </script>
    <![endif]-->
    <!--[if lt IE9]>
    <script src="../../assets/public/html5shiv.js"></script>
    <script src="../../assets/public/respond.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../../assets/public/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/events.css" />
    <script src="../../assets/public/jquery-2.2.3.min.js"></script>
    <script src="../../assets/public/bootstrap/js/bootstrap.js"></script>

<body>
<section class="events-main">
    <div class="mask">
        <img src="../../assets/images/events/top-gradient.png" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="meg-prompt-wrapper">
                    <div class="title">
                        Host your event with DSkies
                    </div>
                    <div class="content">
                        Want to promote your design? Want to teach a class or host a workshop? Need an addictive and cool area to organize an exhibition?our members are welcome to host an event in one of our flexible event spaces offered by out partner <span class="weight">DSkies</span>
                    </div>
                    <div class="bottom">
                        <a>Visit the website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mask2"></div>
</section>
<section class="events-join-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="join-wrapper">
                    <div class="title">
                        Join the event that more reflect you
                    </div>
                    <div class="content">
                        Share, learn and grow
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="next-event-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">Next event</div>
                <div class="next-event-wrapper">
                    <div class="container2">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="title">
                                    Event 0
                                </div>
                                <div class="subtitle">
                                    11F Soho Fuxing Plaza - 388 Madang Road - Shanghai from 28th September to 12th October <br />09:00 to 21:00
                                </div>
                                <div class="hr"></div>
                                <div class="content">
                                    biuafuihuiashisadhasiudiasdiuhdihuadiuhadsihuasidhahudsiaudihashdaihuadhiuashuasdihadshiadshiahdshi
                                    biuafuihuiashisadhasiudiasdiuhdihuadiuhadsihuasidhahudsiaudihashdaihuadhiuashuasdihadshiadshiahdshi
                                    biuafuihuiashisadhasiudiasdiuhdihuadiuhadsihuasidhahudsiaudihashdaihuadhiuashuasdihadshiadshiahdshi
                                    biuafuihuiashisadhasiudiasdiuhdihuadiuhadsihuasidhauhdihuadiuhadsihuasidhauhdihuadiuhadsihuasidha
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mask3"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="upcoming-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    Upcoming events
                </div>
                <div class="content">
                    <div class="content-wrapper">
                        <div class="left">
                            <div class="header">
                                Event 1
                            </div>
                            <div class="content-content">
                                11F Soho Fuxing Plaza - 388 Madang Road - Shanghai from 28th September to 12th October <br />09:00 - 21:00
                            </div>
                        </div>
                        <div class="right">
                            biuafuihuiashisadhasibiuafuihuiashisadhasiudiasdiuhdihuadiuhadsihuasidhahudsiaudihashdaihuadhiuashuasdihadshiadshiahdshiudiasdiuhdihuadiuhadsihuasidhahudsiaudihashdaihuadhiuashuasdihadshiadshiahdshi
                            biuafuihuiashisadhasibiuafuihuiashisadhasiudiasdiuhdihuadiuhadsihuasidhahudsiaudihashdaihuadhiuashuasdihadshiadshiahdshiudiasdiuhdihuadiuhadsihuasidhahudsiaudihashdaihuadhiuashuasdihadshiadshiahdshi
                        </div>
                    </div>
                    <div class="content-wrapper">
                        <div class="left">
                            <div class="header">
                                Event 2
                            </div>
                            <div class="content-content">
                                11F Soho Fuxing Plaza - 388 Madang Road - Shanghai from 28th September to 12th October <br />09:00 - 21:00
                            </div>
                        </div>
                        <div class="right">
                            biuafuihuiashisadhasiudiasdiuhdihuadiuhadsihuasidhahudsiaudihashdaihuadhiuashuasdihadshiadshiahdshibiuafuihuiashisadhasiudiasdiuhdihuadiuhadsihuasidhahudsiaudihashdaihuadhiuashuasdihadshiadshiahdshi
                            biuafuihuiashisadhasibiuafuihuiashisadhasiudiasdiuhdihuadiuhadsihuasidhahudsiaudihashdaihuadhiuashuasdihadshiadshiahdshiudiasdiuhdihuadiuhadsihuasidhahudsiaudihashdaihuadhiuashuasdihadshiadshiahdshi
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="dsg-event">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hr"></div>
                <div class="title">
                    Dsgnable at your event?
                </div>
                <div class="content">
                    If you would like us to participate in or support your event, please feel free to <a class="contact">contact us</a>.
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if (clientWidth >= 640) {
                        docEl.style.fontSize = '160px';
                    } else {
                        docEl.style.fontSize = 160 * (clientWidth / 640) + 'px';
                    }
                };

        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>