<!DOCTYPE html>
<html lang="zh-CN">
<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="../assets/public/flexnav/css/flexnav.css" media="screen, projection" rel="stylesheet" type="text/css">
    <!--<link href="../assets/public/flexnav/css/page.css" media="screen, projection" rel="stylesheet" type="text/css">-->
    <link href="../assets/public/flexnav/css/font-awesome.css" media="screen, projection" rel="stylesheet" type="text/css">

    <link href="../assets/css/flexnav_custom.css" media="screen, projection" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="../assets/public/bootstrap/css/bootstrap.css" />

    <link rel="stylesheet" type="text/css" href="../assets/css/dsg.css" />

</header>
<body>

<div id="nav_bar_bg" class="nav-bar_background"></div>
<!--<div class="nav-bar_shadow">-->
<!--</div>-->
<div class="visible-md visible-lg " style="position: absolute;top: 0;width: 100%;z-index:999">
<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <a class="nav-bar-logo">
                    <img src="../assets/images/header/DSGNABLE_Logo.png" />
            </a>
        </div>
        <div id="whole_menu" class="col-md-6">
            <div class="row">
                <div id="nav-bar"></div>
            </div>
            <div width="100%">
            <div class="row">
                <div class="submenus_background">
                    <div class="col-md-3">
                        <div class="border_y_left"></div>
                        <div id="design_t" class="triangle_body" style="width: 101%;">
                            <div class="out">
                                <div class="in">
                                </div>
                            </div>
                        </div>
                        <div id="split_line" class="border_split"></div>
                    </div>
                    <div class="col-md-1" >
                        <div  class="triangle_body"  style="width: 115%;"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="shop_t" class="triangle_body" style="left:5px;">
                            <div class="out">
                                <div class="in" style="border-color: transparent transparent #202020 #202020;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" height="100%">
                        <div id="community_t" class="triangle_body">
                            <div class="out">
                                <div class="in" style="border-color: transparent transparent #171512 #171512;">
                                </div>
                            </div>
                        </div>
                        <div class="border_y_right"></div>

                    </div>

                </div>
            </div>

            </div>
            <div class="row main_menus">
                <div class="col-md-3" >
                    <div id="submenu" class="submenus"></div>
                </div>
                <div class="col-md-9">
                    <div id="menu_content" class="menu_content"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 user_operation">
            <div class="row">
                <ul>
                    <li class="col-xs-12 col-sm-12 col-md-4 shopping-cart">
                        <div class="shopping_cart_hover cart_count_wrap">
                            <img class="shopping-cart-img" src="../assets/images/header/cart.png"/>
                            <div class="cart_count">
                                <div id="cart_count">0</div>
                            </div>
                        </div>
                        <div class="cart_label">
                            <div class='shopping_cart_hover cart_label_detail_triangle'></div>
                            <div class="cart_label_bg">
                                <div class="row shopping_cart_hover">
                                <div id="cart_label_detail" class="col-md-12"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-sm-12 col-md-4"><p>Login</p></li>
                    <li class="col-xs-12 col-sm-12 col-md-4"><p>Sign up</p></li>
                </ul>
            </div>
        </div>
    </div>

</div>
</div>
<div class="visible-sm visible-xs" style="position: relative;padding-top: -0.625rem; width: 100%;z-index:999">
    <div class="row" style="margin-top: -0.625rem">
        <a class="col-xs-12 col-sm-12 menu-button nav-bar-logo ">
            <img src="http://7xtsva.com2.z0.glb.clouddn.com/DSGNABLE_Logo.png" />
        </a>
    </div>
    <nav>
        <ul data-breakpoint="300" class="flexnav">
            <li><a >Design</a>
                <ul>
                    <li><a >Starting Design</a></li>
                    <li><a >My Lab</a></li>
                    <li><a >Materials</a>
                        <ul>
                            <li><a > Metals</a>
                                <ul>
                                    <li><a > Precious Plated</a></li>
                                    <li><a > Platinum</a></li>
                                    <li><a > Gold</a></li>
                                    <li><a > Silver</a></li>
                                    <li><a > Brass</a></li>
                                    <li><a > Bronze</a></li>
                                    <li><a > Castable Wax</a></li>
                                    <li><a > Aluminum</a></li>
                                </ul>
                            </li>
                            <li><a > Plastics</a>
                                <ul>
                                    <li> <a >Strong&Flexible</a></li>
                                    <li> <a >Metallic</a></li>
                                    <li> <a >Frosted Detail</a></li>
                                    <li> <a >Acrylic</a></li>
                                    <li> <a >Elasto</a></li>
                                    <li> <a >Hi-Def Acrylate</a></li>
                                </ul>
                            </li>
                            <li><a > Ceramics</a>
                                <ul>
                                    <li><a >Porcelain</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/">Shop</a>
                <ul>
                    <li>
                        <a href="/">Home </a>
                        <ul>
                            <li><a >Lightning</a></li>
                            <li><a >Furniture</a></li>
                            <li><a >Dining</a></li>
                            <li><a >Accessories</a></li>
                            <li><a >Other</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/">Jewerly</a>
                        <ul>
                            <li><a >Rings</a></li>
                            <li><a >Pendants</a></li>
                            <li><a >Necklaces</a></li>
                            <li><a >Earrings</a></li>
                            <li><a >Cufflinks</a></li>
                            <li><a >Bracelets</a></li>
                            <li><a >Other</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="/">Art</a>
                        <ul>
                            <li><a >Mathematical</a></li>
                            <li><a >Memes</a></li>
                            <li><a >Sculptures</a></li>
                            <li><a >Other</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="/">Accessories</a>
                        <ul>
                            <li><a >Wearable</a></li>
                            <li><a >Electronic</a></li>
                            <li><a >Tools</a></li>
                            <li><a >Other</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/">Community</a>
                <ul>
                    <li> <a >Blog</a></li>
                    <li><a >Events</a></li>
                    <li><a >Jobs for Designers</a>
                    </li>
                </ul>
            </li>
            <li>
                <a  href="/">Shopping Cart
                    <p id="cart_count_md" class="shopping-cart-count">0</p>
                </a>
            </li>
            <li>
                <a href="/">Login</a>
            </li>
            <li>
                <a href="/">Sign up</a>
            </li>
        </ul>
    </nav>

</div>
<!--<div id="header_main_img">-->

    <!--&lt;!&ndash;<img  class="header-img" src="../assets/images/header/main.png"/>&ndash;&gt;-->
    <!--<div id="header_main_img_every" style="">-->
        <!--<P class="every">EVERYTHING IS DESIGNABLE</P>-->
        <!--<P class="customize">Customize your life</P>-->

    <!--</div>-->

<!--</div>-->
<!--&lt;!&ndash;<div class="header-search-shadow" >&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="header-search-input">&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="text" placeholder="Search"/>&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="glyphicon glyphicon-search header-search-icon"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->

</body>

<!--<script src="../assets/public/jquery-2.2.3.min.js"></script>-->
<script src="../assets/public/jquery-2.2.3.min.js"></script>
<script src="../assets/public/bootstrap/js/bootstrap.js"></script>
<script src="../assets/public/flexnav/js/jquery.flexnav.js" type="text/javascript"></script>
<script src="../assets/js/menus.js"></script>
<script src="../assets/js/header_menus.js"></script>
<script src="../assets/js/cart.js"></script>
<script src="../assets/js/header.js"></script>
<script type="text/javascript">


    jQuery(document).ready(function($) {
        initHeader();
    });




</script>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if (clientWidth >= 640) {
                        docEl.style.fontSize = '160px';
                    } else {
                        docEl.style.fontSize = 160 * (clientWidth / 640) + 'px';
                    }
                };

        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);


</script>
</html>