<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlexNav - A jQuery Plugin for Responsive Menus</title>
    <link href="../assets/public/flexnav/css/flexnav.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="../assets/public/flexnav/css/page.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="../assets/public/flexnav/css/font-awesome.css" media="screen, projection" rel="stylesheet" type="text/css">
    <script src="../assets/public/jquery-2.2.3.min.js"></script>

    <style type="text/css">
        .menu {
            background-color: #2aabd2;
            width: 100px;
            margin-left: 10px;
            display: inline-block;
        }
        .submenu {
            background-color: #3c763d;
            width: 100px;
            margin-left: 10px;
            margin-top: 10px;
        }

    </style><script type="text/javascript">

    function Menu(instance,name,style,subMenus) {
        this.instance = instance;
        this.name = name;
        this.style = style;
        this.subMenus = subMenus;
    }
    Menu.prototype.getComponent = function() {
        if(this.getComponent) {
            this.getComponent();
        }
        else {
            return ("<div onclick='"+this.instance+".onClick()' " +
            " class='"+this.style+"'> "+this.name+"</div>");
        }
    }
    Menu.prototype.onClick=function() {
        if(this.onClick) {
            this.onClick();
        }
        else {
            var submenu_html = "";
            for (var i=0;i<this.subMenus.length;i++) {
                submenu_html+= this.subMenus[i].getComponent();
            }
            console.log(submenu_html);
            $("#submenu").html(submenu_html)
        }
    }
    /*SubMenu.prototype.getComponent = function() {
        return ("<div onclick='"+this.instance+".onClick()' " +
        " class='"+this.style+"'> "+this.name+"</div>");
    }
    SubMenu.prototype.onClick=function() {
        $("#content").html(this.content);
    }*/

    function subMenu_getComponent() {

    }
    var startDesign = new SubMenu("startDesign","Starting Design","submenu");
    var myLab = new SubMenu("myLab","My Lab","submenu");
    var materials = new SubMenu("materials","Materials","submenu");
    var subDesignMenus = new Array(startDesign, myLab, materials);
    var design = new Menu("design","design","menu",subDesignMenus);

    var categories = new SubMenu("categories","Shop all categories","submenu");
    var home = new SubMenu("home","Home","submenu");
    var jewerly = new SubMenu("jewerly","Jewerly","submenu");
    var art = new SubMenu("art","Art","submenu");
    var accessories = new SubMenu("accessories","Accessories","submenu");
    var shop_submenus = new Array(categories, home, jewerly, art, accessories);
    var shop = new Menu("shop","shop","menu",shop_submenus);


    $(document).ready(function() {
        $("#menu").html(design.getComponent()+shop.getComponent());
    });

</script>

</head>
<body class="home-page">
    <div id="menu" style="display: inline"></div>
    <div id="submenu" style="margin-top: 50px"></div>
    <div id="content" style="margin-top: 100px"></div>
</body>

</html>