<!DOCTYPE html>
<html lang="zh-CN">
<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="../assets/public/jquery-2.2.3.min.js"></script>
    <script src="../assets/public/bootstrap/js/bootstrap.js"></script>
    <link href="../assets/public/flexnav/css/flexnav.css" media="screen, projection" rel="stylesheet" type="text/css">
    <!--<link href="../assets/public/flexnav/css/page.css" media="screen, projection" rel="stylesheet" type="text/css">-->
    <link href="../assets/public/flexnav/css/font-awesome.css" media="screen, projection" rel="stylesheet" type="text/css">

    <link href="../assets/css/flexnav_custom.css" media="screen, projection" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="../assets/public/swiper/swiper-3.3.1.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/public/bootstrap/css/bootstrap.css" />

    <link rel="stylesheet" type="text/css" href="../assets/css/dsg.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/prod.css" />

</header>
<body>
    <div id="header"></div>
    <div class="container">
        <div class="row" >
            <div class="col-md-6 col-sm-12 col-xs-12">
                <span id="design_title" class="design_title">Design title</span>
                <span id="design_by" class="design_by">by</span>
                <span id="design_by_name" class="design_by_name">Luca Pedrielli</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="design_line design_title_bottom_line"></div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12 design_show_swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="design_show_swiper_img" src="../assets/images/design_detail/prod.png" />
                        <div class="design_show_swiper_page"></div>
                    </div>
                    <div class="swiper-slide"><img class="design_show_swiper_img" src="../assets/images/design_detail/prod.png" /></div>
                    <div class="swiper-slide"><img class="design_show_swiper_img" src="../assets/images/design_detail/prod.png" /></div>
                    <div class="swiper-slide"><img class="design_show_swiper_img" src="../assets/images/design_detail/prod.png" /></div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12" >
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 design_category">
                    <span>Category</span>
                    <span> > </span>
                    <span> Subcategory name (Rings,Lighting...) </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 design_favor">
                    <div class=" design_favor_add" >
                        <div class="design_favor_icon_wrap">
                            <span class="i-heart">
                            </span>
                        </div>
                        <span class="design_favor_add_text">Add to my wish list</span>
                    </div>
                    <div class="design_favor_like" >
                        <div class="design_favor_icon_wrap">
                              <span class="i-thumb">
                        </span>
                        </div>
                        <span class="design_favor_like_text">Like</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 design_line design_favor_bottom_line">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 design_overview">
                    <p class="design_overview_title">Overview</p>
                    <p class="design_overview_content">
                        Apedestrian bridge will link a commercial office building and car park to ahigh-end retail
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 design_line design_favor_overview_line">
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 col-sm-12 col-xs-12 design_choose">
                        <div class="design_choose_title">
                            Choose color/material
                        </div>
                        <div id="design_choose_list" class="design_choose_items">
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 design_line design_choose_bottom_line">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 design_price">
                    <div class="design_price_title">Price</div>
                    <div class="design_price_amount">2000 $</div>
                    <div class="design_price_add_cart_btn">ADD TO CART</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 design_line design_price_bottom_line">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 design_about ">
                    <div class="design_about_title"></div>
                    <div class="design_about_content">Apedestrian bridge will link a commercial office building and car park to ahigh-end retail mall in Sao Paulo. The
                        project utilises the locally availableindustry in fibre-reinforced-plastics in order to build a bridgethat is economically competitive in both construction and maintenance costswhen compared with traditional bridges of steel or concrete construction. Thesemi-monocoque surface was designed through custom-written software code thatnegotiates structural, formal and material constraints whilst offeringspatially dynamic and crisp design solutions to be explored. </div>
                    <div class="design_about_btn">
                        <a>Tag1</a>
                        <a>Tag2</a>
                        <a>Tag3</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 design_line design_about_bottom_line">
                </div>
            </div>

        </div>
     </div>

</body>
<script src="../assets/js/choose.js"></script>
<script src="../assets/public/swiper/swiper-3.3.1.jquery.min.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(function(){
            $('#header').load('header.html');
        })
        $("#design_choose_list").html(getColorMaterialListView())
        var mySwiper = new Swiper ('.swiper-container', {
            loop: true,
            // 如果需要分页器
            pagination: '.swiper-pagination',

        })
    });
</script>

</html>