.menu-button {
    position: absolute;
    display: block;
    padding: 0rem;
    height: 0.625rem;
    /*padding-top: 0rem;*/
    background: none;
    color: #222222;
    cursor: none;
    border-bottom:none;
}
.menu-button img {
    /*height: ;*/
    /*padding-top: 0.3rem;*/
}

.menu-button .touch-button .navicon {
     opacity: 0;
}

.flexnav .touch-button {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    display: inline-block;
    background: none;
    background: none;
    text-align: center;
}
.flexnav .touch-button .navicon {
    position: relative;
    top: 1.4em;
    font-size: 12px;
    color: white;
    padding-right: 0.075rem;
    float: right;

}
.item-with-ul {
    background-color: black;
}

.flexnav li a {
    position: relative;
    display: block;
    padding: .96em;
    z-index: 2;
    overflow: hidden;
    color: white;
    background: black;
    border-bottom: none;
    text-decoration: none;
    background: -webkit-linear-gradient(left, #000000 , #333333); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #000000, #333333); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #000000, #333333); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #000000 , #333333); /* 标准的语法 */
}
.flexnav li ul li a {
    display: block;
    color: white;
    background: black;
    background: -webkit-linear-gradient(left, #111111 , #333333); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #111111, #333333); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #111111, #333333); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #111111 , #333333); /* 标准的语法 */
}
.flexnav ul li ul li a {
    color: white;
    background: black;
    background: -webkit-linear-gradient(left, #222222 , #333333); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #222222, #333333); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #222222, #333333); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #222222 , #333333 ); /* 标准的语法 */
}

.flexnav ul li ul li a li a{
    color: white;
    background: black;
    background: -webkit-linear-gradient(left, #333333 , #444444); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #333333, #444444); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #333333, #444444); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #333333 , #444444); /* 标准的语法 */
}

.flexnav ul li ul li ul li a {
    color: white;
    background: black;
    background: -webkit-linear-gradient(left, #444444 , #444444); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #444444, #444444); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #444444, #444444); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #444444 , #444444); /* 标准的语法 */
}
.flexnav .touch-button .navicon {
    position: relative;
    top: 0.96em;
    font-size: 15px;
    color: white;
    padding-right: 0.075rem;
    float: right;
}