
//sass --watch assets/css:public/css
@import url("../../assets/css/fonts.css");
*{
    margin:0px;
    padding:0px;
    -webkit-font-smoothing: antialiased;
}
html{
    -webkit-text-size-adjust:none;
    outline: 0;
}
body{
    color:#666;
    font-family:'SegoeWPN','STHeiti','simhei','Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', SimSun, sans-serif;
    padding-bottom:50px;
}
ul,li{
    list-style-type:none;
}
input{
    outline:none;
}
.text-center{
    text-align:center;
}
.empty{
  height:0.225rem;
  background:#f1f1f1;
}
.reminder-bar{
  background: -webkit-linear-gradient(left, #74272d , #c0272d); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left, #000 , #333); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left, #000 , #333); /* Firefox 3.6 - 15 */
  background: -ms-linear-gradient(left, #000 , #333); /* Firefox 3.6 - 15 */
  background: linear-gradient(left, #000 , #333); /* 标准的语法 */
  height:150px;
  position:relative;
  .reminder-bar-wrapper{
    position: absolute;
    text-align:left;
    top: 50%;
    width:100%;
    color:#fff;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index:999;
  }
  .title{
    font-family:'SegoeWPN-Bold';
    font-size: 0.24168rem;
  }
  .subtitle{
    font-size:0.1583rem;
    margin: -0.05rem 0 0.02rem 0;
  }
  .smalltitle{
    font-size:0.09375rem;
  }
}
.reminder-main{
  height:100%;
  padding:0.3625rem 0rem;
  background: -webkit-linear-gradient(top, #999 , #fff); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(top, #999 , #fff); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(top, #999 , #fff); /* Firefox 3.6 - 15 */
  background: -ms-linear-gradient(top, #999 , #fff); /* Firefox 3.6 - 15 */
  background: linear-gradient(top, #999 , #fff); /* 标准的语法 */
  .content-wrapper{
    padding:0.05625rem;
    background:#f1f1f1;
    color:#000;
    border-radius:6px;
    margin-bottom:0.1rem;
    -webkit-box-shadow:0 0 10px rgba(200, 200, 200, .5);
    -moz-box-shadow:0 0 10px rgba(200, 200, 200, .5);
    box-shadow:0 0 10px rgba(200, 200, 200, .5);
    >img{
      width:100%;
      border-radius:4px;
    }
    .title{
      font-size:0.125rem;
      font-family:'SegoeWPN-Bold';
      margin: 3px 0 -3px 0;
    }
    .subtitle{
      font-size:0.09375rem;
      margin-bottom:10px;
      &.designs{
        margin-bottom:8px;
      }
    }
    .content{
      width: 100%;
      word-break: break-all;
      font-size: 12px;
      height: 112px;
      line-height: 16px;
      overflow: hidden;
      margin: -0.025rem 0 0.15rem 0;
    }
    .sub{
      overflow: auto;
      padding-top:3px;
      border-top: 1px solid #d5d5d5;
      &.designs{
        padding-top:5px;
      }
      .left{
        width: 50%;
        float: left;
        font-size:0.079125rem;
        &.events{
          width:100%;
          .left1{
            img{
              width:0.16875rem;
              min-width:20px;
              vertical-align: middle;
            }
          }
          .right2{
            font-size:0.1875rem;
            line-height:0.1875rem;
            float:right;
            .weight{
              font-family:SegoeWPN-Bold;
              margin-right:-2px;
            }
          }
          &.designs{
            margin-top:3px;
          }
        }
        .left1{
          float: left;
          font-size:0.079125rem;
          >div:first-child{
            margin-bottom:-3px;
          }
        }
        .right1{
          text-align: right;
          float:right;
          font-family:'SegoeWPN-Bold';
          >div:first-child{
            margin-bottom:-3px;
          }
        }
      }
      .right{
        float: right;
        width: 50%;
        text-align: right;
      }
      img{
        width:0.16875rem;
        min-width:20px;
        vertical-align: middle;
        &.zan{
          width:0.15rem;
          margin-left:3px;
        }
      }
    }
  }
}


@media all and (min-width:1600px){
  .container{
    width:1500px;
  }
}

@media all and (min-width:780px) and (max-width:1600px){
  .reminder-bar{
    .title{
      font-size:0.21rem;
    }
    .subtitle{
      font-size:0.14rem;
    }
    .smalltitle{
      font-size:0.085rem;
    }
  }
  .col-xs-12{
    padding-left:7px;
    padding-right:7px;
  }
}
@media all and (min-width:1280px){
  .col-cs-2{
    float:left;
    width:20%;
    position: relative;
    min-height: 1px;
    padding-right: 7px;
    padding-left: 7px;
  }
}
@media all and (max-width:1279px){
  .reminder-main .content-wrapper .sub .right{
    padding:0.025rem 0;
    img{
      width:22px;
    }
  }
}
@media  all and (max-width:767px) {
  .reminder-bar{
    height:1.25rem;
  }
}
@media all and (max-width: 420px){
  .reminder-bar {
    .title {
      font-size: 18px;
    }
  }
}